<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>users_home</title>
    <meta name="description" content="今日の献立" />
    <link rel="stylesheet" href="css/index.css" />

<header style="background-color:#ffd7dc">
<img src="/img/hamster.jpg" alt="logo" class="rounded">
</header>

</head>

<body>
<div class="mx-auto p-2" style="width: 380px;">
<div class="mb-4">
</div>
<p class="h2 text-success text-md-center text-uppercase text-center font-weight-bold">今日の献立</p>
<div class="card border border-success" style="width: 24rem;">
<div class="card-body">
    This is some text within a card body. This is some text within a card body.
</div>
</div>

<div class="mb-4">
</div>
<p class="h2 text-success text-md-center text-uppercase text-center font-weight-bold">アレルギー原因食品</p>
<div class="card border border-success" style="width: 24rem;">
<div class="card-body">
    This is some text within a card body. This is some text within a card body.
</div>
</div>
</div>
</body>
    <!-- フッター -->
<div class="fixed-bottom">
<footer style="background-color:#ffd7dc">
<p class="h6 text-success text-md-center text-uppercase text-center font-weight-bold">
<br>にこもぐ保育園
<br>電話番号 000-0000-0000<br>
</p>
</footer>
</div>
</html>
