{% extends 'user/base.html'%}
{% block title %}<title>user_home</title>{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="userhome-meals">
            <h3 align="center">今日の献立</h3>
            <div class="today-meals">
                <ul class="today-meals-list">
                    <li class="today-meals-menu">たまごサンド</li>
                    <li class="today-meals-menu">サラダ</li>
                    <li class="today-meals-menu">牛乳</li>
                </ul>
        </div>
            <h3 align="center">アレルギー原因食品</h3>
            <div class="today-meals-allergy">
                <ul class="today-meals-allergy-list">
                    <li class="today-meals-allergyfood">たまご</li>
                    <li class="today-meals-allergyfood">小麦</li>
                    <li class="today-meals-allergyfood">牛乳</li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}{% block script %}
{% endblock %}