{% extends 'user/base.html'%}
{% block title %}<title>user_home</title>{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="userhome-meals">
            <h3 align="center">今日の献立</h3>
            <div class="today-meals">
                <p>たまごサンド</p>
                <p>サラダ</p>
                <p>牛乳</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
            </div>
            <h3 align="center">アレルギー原因食品</h3>
            <div class="today-meals">
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>
                <p>チーズ</p>

            </div>
        </div>
    </div>
</main>
{% endblock %}{% block script %}
{% endblock %}