{% extends 'user/base.html'%}
{% block title %}<title>user_home</title>{% endblock %}

{% block body %}
<main>
    <div class="main">
        <div class="userhome-meals">
            <h3 align="center">今日の献立</h3>
            <div class="today-meals">
                <!-- ここに今日の献立の取得結果を表示する。-->
                <p>たまごサンド</p>
                <p>サラダ</p>
                <p>牛乳</p>
                <p>チーズ</p>
                <ul class="today-meals-list">
                    <li class="today-meals">たまごサンド</li>
                </ul>
            </div>
        </div>
            <h3 align="center">アレルギー原因食品</h3>
            <div class="today-meals-allergy">
                <!-- ここに今日の献立のアレルギー原因食品を表示する。-->
                <p>たまご</p>
                <p>小麦</p>
                <p>牛乳</p>
                <ul class="today-meals-allergy-list">
                    <li class="today-meals-allergy">たまご</li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}{% block script %}
{% endblock %}