{% extends 'common/base.html'%}
{% block title %}<title>management_channel</title>{% endblock %}

{% block body %}
<main>
    <div class="channels-wrapper">
        <div class="channels-container">
            <h1 class="channels-title">チャンネル一覧</h1>
            {% if admin == 1 %}

            <!-- チャンネルの登録-->
            <div class="channel-register">
                <div class="channel-registrarion">チャンネル追加</div>
                <div class="circle" id="add-channel-button" data-modal-trigger="add-channel-modal">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
            {% endif %}
            <div class="channel-list-container" id="channels-container">
                <!-- DBから取得したチャンネル一覧を描画する。 -->
                {% for channel in channels %}
                <div class="channel">
                    <a class="channel-name" href="{{ url_for('detail',channel_id=channel['id']) }}">{{ channel.name }}</a>

            {% if admin == 1 %}
                    <i class="fa-solid fa-pen" data-modal-trigger="update-channel-modal"></i>
                    <i class="fa-solid fa-trash" data-modal-trigger="delete-channel-modal"></i>
            {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'modal/add-channel.html' %}
    {% include 'modal/add-channel-confirmation.html' %}
    {% include 'modal/delete-channel.html' %}
    {% include 'modal/delete-channel-confirmation.html' %}
    {% include 'modal/update-channel.html' %}
    {% include 'modal/update-channel-confirmation.html' %}
</main>
{% endblock %}{% block script %}

<script src="{{url_for('static',filename='js/Channels/channels.js')}}"></script>

{% endblock %}
