{% extends 'common/base.html'%}
{% block title %} <title>chat</title> {% endblock %}

{% block body %}
<main>
    <div class="chat-wrapper">
        <div class="chat-container">
            <div class="chat-to">{{channel['name']}}</div>

            <div class="chat-list">
                {% if messages|length > 0 %}
                    {% for message in messages %}

                        {% if message.user_id == user_id %}
                            <!-- 自分のメッセージ -->
                            <div class="my-messages">
                                <p class="box box-right">{{ message.message }}</p>
                            </div>
                        {% else %}
                            <!-- 他のユーザーのメッセージ -->
                            <div class="messages">
                                <p class="user-name">{{ message.user_name }}</p>
                                <p class="box box-left">{{ message.message }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div id="no-message">
                        <p>まだメッセージがありません。</p>
                    </div>
                {% endif %}
            </div>


            <div class="chat-form">
                <form method="POST" action="{{ url_for('add_message') }}">
                    <div class="chat-component">
                        <button type="submit" id="send-button" class="send-message-button">
                                <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                            <input type="hidden" name="channel_id" value="{{ channel.id }}">
                            <textarea id="message" name="message" class="message-input-area" placeholder="メッセージ入力"></textarea>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}

<script>
    const form = document.getElementById('chat-form');
    const sendButton = document.getElementById('send-button');
    form.addEventListener('submit', function () {
        sendButton.disabled = true;
        setTimeout(() => {
            sendButton.disabled = false;
        }, 2000); 
    });
</script>

<!-- 相手、自分のチャットを左右に出しわけるコードを作成する。　優先度：高 -->


<!-- チャットのチャンネル名を左寄せにするコードを入れる。 優先度:低 -->
