<div id="add-channel-confirmation-modal" class="modal">
    <div class="modal-content">
        <h3 class="modal-title">チャンネル登録</h3>
            <div class="add-channel-confirmation-container">
                <label for="add-channel-confirmation">チャンネル名</label>
                <div class="channel-name" id="channel-name-display">{{ channel.name }}</div>
            </div>

            <span class="add-channel-confirmation-text">この内容で登録しますか？</span>

            <div class="back-link">
                <a href="" id="back-link">
                    <i class="fa-solid fa-angle-left"></i>
                    <p class="back">戻る</p>
                </a>
            </div>
            
            <button id="add-channel-confirmation-button">登録</button>
    </div>
</div>