<div id="add-channel-modal" class="modal" data-modal="add-channel-modal">
    <div class="modal-content">
        <h3 class="modal-title">チャンネル登録</h3>
        <form class="delete-channel-form" id="delete-channel-form" method="post">
            <div class="add-channel-container">
                <label for="delete-channel-input">チャンネル名</label>
                <input type="text" placeholder="にこもぐ" name="channel-name" id="delete-channel-input-value">
            </div>

            <button id="delete-channel-confirmation-button" data-modal-trigger="delete-channel-confirmation-modal">登録</button>
        </form>
    </div>
</div>