<div id="delete-channel-modal" class="modal" data-modal="delete-channel-modal">
    <div class="modal-content">
        <h3 class="modal-title">チャンネル削除</h3>
        <form class="delete-channel-form" id="delete-channel-form" method="post">
            <div class="delete-channel-container">
                <label for="delete-channel-input">チャンネル名</label>
                <p class="delete-channel-name" id="delete-channel-input-value"></p>
            </div>
            <div class="delete-member-container">
                <div class="delete-member-header">メンバー</div>
                <div class="deleted-member">
                    <div class="brank"></div>
                    <p class="member">にこもぐ</p>
                </div>
                <div class="deleted-member">
                    <div class="brank"></div>
                    <p class="member">もぐこ</p>
                </div>      
            </div>
            <button id="delete-channel-confirmation-button" data-modal-confirm-trigger="delete-channel-confirmation-modal">削除</button>
        </form>
    </div>
</div>
