<div id="update-channel-modal" class="modal">
    <div class="modal-content">
        <h3 class="modal-title">チャンネル登録</h3>
        <form class="add-channel-form" method="post">
            <div class="add-channel-container">
                <label for="add-channel-input">チャンネル名</label>
                <input type="text" placeholder="にこもぐ" name="channel-name" id="add-channel-input">
            </div>

            <button id="add-channel-confirmation-button">登録</button>
        </form>
    </div>
</div>