{% extends 'common/base.html'%}
{% block title %}<title>management_channel</title>{% endblock %}

{% block body %}

<!-- base.htmlのインクルードを行うコードを全てのリンクが整ったら削除する。-->
<main>

<div id="update-channel-modal" class="modal">
    <div class="modal-content">
        <h3 class="modal-title">チャンネル編集</h3>
        <form class="update-channel-form" method="post">
            <div class="update-channel-container">
                <label for="add-channel-input">チャンネル名</label>
                <input type="text" placeholder="にこもぐ" name="channel-name" id="add-channel-input">
            </div>

            <div class="add-member-container">
                <div class="add-member-header">
                    <p class="add-member-header-member">メンバー</p>
                    <p class="add-member-header-addtion">追加</p>
                </div>

                <div class="add-member-checkbox">
                    <label for="member-01" class="add-member-checkbox">にこもぐ</label>
                    <input type="checkbox" id="member-01" name="checkbox01">
                </div>

                <div class="add-member-checkbox">
                    <label for="member-02" class="add-member-checkbox">もぐこ</label>
                    <input type="checkbox" id="member-02" name="checkbox02">
                </div>

            </div>
            <button id="add-channel-confirmation-button">登録</button>
        </form>
    </div>
</div>

</main>
{% endblock %}