<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"   content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}

    <!-- CSSのスタイルをここに記述 --> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Sawarabi+Mincho&display=swap"
      rel="stylesheet"
    />
    <link href=”https://use.fontawesome.com/releases/v5.6.1/css/all.css” rel=”stylesheet”>

    <!-- ファビコン画像挿入 -->
  </head>

  <body>
    <!-- ヘッダーブロックの開始 -->
    <header class="header">
      <div class="header__inner">
      <h1 class="header__title header-title">
          <a href="{{url_for('managementHome')}}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
          </a>
      </h1>
          <nav class="header__nav nav" id="js-nav">
          <ul class="nav__items nav-items">
              <li class="nav-items__item"><a href="{{url_for('managementHome')}}">ホーム</a></li>
              <li class="nav-items__item"><a href="{{url_for('managementChannels')}}">チャンネル一覧</a></li>
              <li class="nav-items__item"><a href="">基本情報</a></li>
              <li class="nav-items__item"><a href="">ログアウト</a></li>
          </ul>
          </nav>
          <button class="header__hamburger hamburger" id="js-hamburger">
              <span></span>
              <span></span>
              <span></span>
          </button>
      </div>
    </header>
    <!-- ページ毎のコンテンツのブロック  -->
    <main>
      {% block body %}{% endblock %}
    </main>
    <!-- フッターブロックの開始 -->
    <footer class="footer">
      <div>
        フッターエリア
      </div>
    </footer>
    {% block script %}{% endblock %}
    <script
      src="{{url_for('static',filename='js/common.js')}}"
      type="text/javascript">
    </script>
  </body>
  
</html>