{% extends 'management/base.html'%}
{% block title %} <title>channels</title> {% endblock %}

{% block body %}
<div class="channels-wrapper">
    <h2 class="channels-title">チャンネル一覧</h2>
    <div class="channels-container">
        <div class="channel"></div>
            <!-- チャンネルにカーソルを当てたときに表示する -->
            <img src="" alt="cursor">
            <!-- 変数で差し替え予定-->
            <div class="channel-name">お知らせ</div>
            <!-- 編集のペンマーク -->
            <i class="fa-solid fa-pen"></i>
            <!-- 削除のゴミ箱マーク-->
            <i class="fa-solid fa-trash"></i>
    </div>
    <!-- チャンネルの登録-->
    <div class="channel-register">
        チャンネル追加
    </div>
</div>
{% endblock %}