{% extends 'common/base.html' %}
{% block title %} <title>アレルギーあり園児一覧</title> {% endblock %}

{% block body %}
<main>
  <div class="main">
      <div class="children's_allergy">
          <h3 align="center">アレルギーあり園児一覧</h3>
            <table class="my-table">
              <tr><th style="width:82vh">氏名</th></tr>
              <tr><td>たまご</td></tr>
              <tr><th style="width:82vh">アレルギー原因食品</th></tr>
              <tr><td>たまご</td></tr>
              <tr><th style="width:82vh">文書登録日</th></tr>
              <tr><td>2024/11/23</td></tr>
            </table>
      </div>
  </div>
</main>
{% endblock %}{% block script %}
{% endblock %}