{% extends 'common/base.html' %}
{% block title %} <title>home</title> {% endblock %}

{% block body %}
<main>
    <div class="home-wrapper">
        <div class="home-container">
            <div class="tommorrow-meals-container">
                <p class="tomorrow-meals-title">明日の献立</p>
                <div class="tomorrow-meals-area">
                    <!-- ここに今日の献立の取得結果を表示する。-->
                    <ul class="menu-list">
                        <li class="meal">農家さんが作ったたまごサンド</li>
                        <li class="meal">とれたて野菜のサラダ</li>
                    <li class="">牛乳</li>
                    </ul>
                </div>
            </div>
            <div class="allergy-matching-results-container">
                <p class="allergy-matching-results-title">アレルギー照合結果</p>
                <div class="allergy-matching-results-area">
                    <!-- ここにアレルギー照合結果の取得結果を表示する。-->
                    <div class="allergy">
                        <ul class="children-allergy">
                            <li class="today-meals-allergyfood">たまご</li>
                            <li class="today-meals-allergyfood">小麦</li>
                            <li class="today-meals-allergyfood">牛乳</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}