{% extends 'management_base.html' %}{% block title %}
<title>管理画面</title>
{% endblock %} {% block body %}

<div class="management_main">
    <div class="tomorrow-meal">
      <h4>明日の献立</h4>
      <div class="management_boxarea">
        <div class="management_box">
          <!-- ここに明日の献立のデータを表示 -->
        </div>
      </div>
    </div>
    <div class="tommorow-allergen">
      <h4>アレルギー対象園児</h4>
      <div class="management_boxarea">
        <div class="management_box">
          <!-- ここにアレルギー対象の園児を表示 -->
        </div>
      </div>
    </div>
  </div>

{% endblock %}