{% extends 'common/base.html' %}
{% block title %} <title>メニュー一覧</title> {% endblock %}

{% block body %}
<main>
  <div class="main">
      <div class="children's_allergy">
          <h3 align="center">メニュー一覧</h3>
            <table class="my-table">
              <tr><th style="width:82vh">メニュー</th></tr>
              <tr><td>たまごサンド</td></tr>
              <tr><th style="width:82vh">アレルギー原因食品</th></tr>
              <tr><td>たまご、牛乳、小麦</td></tr>
            </table><br>

            <table class="my-table">
              <tr><th style="width:82vh">メニュー</th></tr>
              <tr><td>たまごサンド</td></tr>
              <tr><th style="width:82vh">アレルギー原因食品</th></tr>
              <tr><td>たまご、牛乳、小麦</td></tr>
            </table>
      </div>
  </div>
</main>
{% endblock %}{% block script %}
{% endblock %}