* {
  float: none;
  position: static;
  font-family: "M PLUS 1", sans-serif;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  box-sizing: border-box;
}
  
body {
  margin: 0 auto;
  min-height: 100vh;
  width: 100vw;
  color: var(--black);
}

input {
  letter-spacing: 0.1em;
  color: var(--black);
}

input:hover,
button:hover {
  cursor: pointer;
}

:hover {
  transition: all 0.5s;
}