/* 管理画面のヘッダー部 */
.management_page {
    height:100vh;
}

.management_menu {
height:60px;
}

.nav_bar {
    display:flex;
}
  
.nav_list {
    width:150px;
    text-align:center;
    text-decoration: none;
    border:solid gray;
    border-radius:5px;
    padding:0 2px;
    font-size:20px;
}

.nav_bar {
    display:flex;
    justify-content: flex-start;
    white-space: nowrap;
}

.management_body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height:100%;
}

.management_main {
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    height:100%;
    padding-top:5px;
}


/* 管理者ホーム画面 */
.tomorrow-meal {
    min-height: 50%;
  }
  
.management_boxarea {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.management_box {
    box-sizing: border-box;
    border:solid 3px;
    width:90%;
    height:35vh;
    margin-top:10px;
    background:white;
}
  
.tommorow-allergen {
    min-height: 50%;
}