.userhome-meals {
  color: var(--oleeve);
  flex-flow: column;
  min-height:500px;
}

.today-meals{
  color: var(--oleeve);
  padding:1em;
  border: 3px solid green;
  margin:0.5em auto;
  width:60%;
  height:100%;
}