ul,
li {
  list-style: none;  /* 「・」がデフォルトで表示されるため非表示に変更 */
}

.userhome-main {
  width: 100%;
  height:76vh;
}

.userhome-meals {
  color: var(--oleeve);
  flex-flow: column;
  height:35vh;
}

.today-meals{
  color:  var(--oleeve);
  padding:1em;
  border: 3px solid var(--oleeve);
  margin:0.5em auto;
  width:60%;
}

.today-meals-allergy{
  color: var(--oleeve);
  padding:1em;
  border: 3px solid  var(--oleeve);
  margin:0.5em auto;
  width:60%;
  height:100%;
}