ul,
li {
  list-style: none;  /* 「・」がデフォルトで表示されるため非表示に変更 */
  padding-left: 0;
  display: list-item;
  text-align:left
}

.userhome-meals {
  color: var(--oleeve);
  flex-flow: column;
  min-height:500px;
  min-width: 320px;
}

.today-meals{
  color:  var(--oleeve);
  padding:1em;
  border: 3px solid var(--oleeve);
  margin:0.5em auto;
  width:70%;
  height:100%;
}

.today-meals-allergy{
  color: var(--oleeve);
  padding:1em;
  border: 3px solid  var(--oleeve);
  margin:0.5em auto;
  width:70%;
  height:100%;
}